# Managed by Ansible
# Infrastructure automation: Zach

{
	admin "unix///run/caddy/admin.socket"
}

http://zachnewell.info, http://www.zachnewell.info {
	# Managed portfolio site
	root * /srv/web/portfolio
	encode zstd gzip

	try_files {path} {path}.html {path}/
	file_server

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

import /etc/caddy/conf.d/*
